*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
.container {
    height: 100vh;

    position: relative;
}

.header {
    height: 100px;
    background-color: #009688;
}

.main {
    height: calc(100% - 100px);
    background-color: #d3dbd7;
}


i {
    margin-right: 15px;
}

/* strutta della webapp whatsapp */
.container_whatsapp{

    display: flex;


    width: 80%;
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 90vh;
    /* background-color: coral; */
}


.messaggi_selector {
    width: 35%;
    height: 100%;
    /* background-color: yellowgreen; */
}
/* parte superiore del container whatsapp */
.header_square {
    height: 60px;
    background-color: #eaeaea;
    padding: 10px;

    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.user_name {
    display: flex;
   
    align-items: center;
}

.user_flex {
    display: flex;
}

.user_online > span {
    font-size: 12px;
}

img {
    border-radius: 50%;
    width: 40px;

    margin-right: 15px;
}

/* paerte della notifica lato sinistro */
.notifica{
    height: 80px;
    background-color: #8edafc;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a {
    font-size: 12px;
}

.fa-bell-slash {
    color: #8edafc;
    background-color: white;
    border-radius: 50%;

    margin-right: 15px;

    font-size: 15px;
    width: 35px;
    height: 35px;
    padding: 9px;
}

/* parte centrale del lato sinistro dove appaiono le chat */
.main_selector {
    height: calc(100% - 140px);
    background-color: #ffffff;

    overflow: scroll;
    padding: 15px;
}

.main_selector > .user_name {
    margin-top: 15px;
    margin-bottom: 15px;

    padding: 10px;
    width: 100%;
}

.main_selector > .user_name:hover {
    background-color: #e9ebeb;
}

.active{
    background-color: #e9ebeb;
}

.cerca_inizia > input {
    border: 2px solid rgb(255, 255, 255);
    width: 90%;
    height: 30px;
    margin-left: 10px;

    background: url(../img/kisspng-computer-icons-magnifying-glass-magnifier-clip-art-interface-standard-5b1f5e3fcc7618.9100039915287823998375.jpg) no-repeat scroll 1px 1px;
    background-size: 27px;
    padding-left:30px;
}

/* parte destra del container di whatsapp */
.messaggi_chat {
    width: 65%;
    height: 100%;


   
    /* background-color: darkgoldenrod; */
}

/* parte centrale del lato destro, dove appaiono i messaggi */
.main_chat{
    height: calc(100% - 110px);
    background-image: url(../img/pngtree-marble-texture-light-gray-background-image_593357.jpg);
    background-position: center;
    object-fit: cover;
    filter: sepia(15%);


    overflow: scroll;
    padding: 20px;
    /* border: 15px solid #eaeaea ; */
    /* filter: brightness(49%); */
}

.messaggi_inviati {
    background-color: #d5f9ba;
    border-radius: 10px;

    width: 250px;
    font-size: 14px;


    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 65%;
    padding: 10px;
}

.messaggi_ricevuti {
    background-color: #ffffff;
    border-radius: 10px;

    margin-bottom: 10px;
    font-size: 14px;
    width: 250px;
    padding: 10px;
}

.data {
    font-size: 8px;
    margin-left: 140px;

}

.elimina-mex > span {
    display: flex;
    flex-direction: column;
    /* display: block; */
}

.elimina-mex{
    background-color: white;
    position: absolute;

    z-index: 1;

    border: 1px solid black;
    width: 200px;

    padding: 10px;
}




/* parte inferiore del lato destro, dove sta l'input */
.footer_chat {
    height: 50px;
    background-color: #f3eeea ;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_chat > input {
    border: 2px solid rgb(255, 255, 255);
    width: 85%;
    height: 30px;
    margin-left: 10px;

    padding: 10px;
}

.footer_chat > i {
    margin: 0 25px;
    font-size: 20px;
}