*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
.container {
    height: 100vh;

    position: relative;
}

.header {
    height: 100px;
    background-color: #009688;
}

.main {
    height: calc(100% - 100px);
    background-color: #d3dbd7;
}




/* strutta della webapp whatsapp */
.container_whatsapp{

    display: flex;


    width: 80%;
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 90vh;
    /* background-color: coral; */
}


.messaggi_selector {
    width: 35%;
    height: 100%;
    /* background-color: yellowgreen; */
}
/* parte superiore del container whatsapp */
.header_square {
    height: 60px;
    background-color: #eaeaea;
    
}

/* paerte della notifica lato sinistro */
.notifica{
    height: 80px;
    background-color: #8edafc;
}

/* parte centrale del lato sinistro dove appaiono le chat */
.main_selector {
    height: calc(100% - 140px);
    background-color: #ffffff;
}

/* parte destra del container di whatsapp */
.messaggi_chat {
    width: 65%;
    height: 100%;
    /* background-color: darkgoldenrod; */
}

/* parte centrale del lato destro, dove appaiono i messaggi */
.main_chat{
    height: calc(100% - 110px);
    background-image: url(../img/pngtree-marble-texture-light-gray-background-image_593357.jpg);
    background-position: center;
    object-fit: cover;
    filter: sepia(15%);
    /* border: 15px solid #eaeaea ; */
    /* filter: brightness(49%); */
}


/* parte inferiore del lato destro, dove sta l'input */
.footer_chat {
    height: 50px;
    background-color: #f3eeea ;
}