<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Whatsapp</title>
</head>
<body>
    
<div id="app" class="container">
    <div class="header"></div>


    <!-- quadro whatsapp -->
    <div class="container_whatsapp">
        <!-- parte sinistra del container whatsapp dove appaiono le chat -->
        <section class="messaggi_selector">
            <!-- parte superiore della parte sinistra selector -->
            <section class="header_square">
                <div class="user_name">
                    <img src="img/avatar5.jpeg" alt="img_user">
                    <h5>Lorenzo</h5>
                </div>

                <div class="icon">
                    <i class="fa-solid fa-spinner"></i>
                    <i class="fa-regular fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

            </section>

            <!-- parte semi sup della parte sinistra selector -->
            <section class="notifica">
                <div>
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                    <h5>Ricevi notifiche dei nuovi messaggi</h5>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </section>

            <!-- il restante della parte selector, di sinistra..dunque dove staranno le chat aperte -->
            <section class="main_selector">
                <div class="cerca_inizia">
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div @click="scegliChat(index)" v-for="(contatto, index) in contacts" :class="activeUser === index ? 'active' : ''" class="user_name">
                    
                    <div>
                        <img :src="contatto.avatar" alt="img_2">
                    </div>
                    <div class="user_online">
                        <h5>{{contatto.name}}</h5>
                        <span>Data 20/03/2023</span>
                    </div>
                </div>

            </section>
        </section>


        <!-- parte destra del container whatsapp dove appaiono le chat aperte e i rispettivi messaggi -->
        <section class="messaggi_chat">
            <!-- parte superiore della parte destra, messaggi -->
            <section class="header_square">
                <div class="user_name">
                    
                    <div>
                        <img :src="contacts[activeUser].avatar" alt="img_2">
                    </div>
                    <div class="user_online">
                        <h5>{{contacts[activeUser].name}}</h5>
                        <span>Data 20/03/2023</span>
                    </div>
                </div>

                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </section>

            <!-- parte centrale, dunque il corpo dei messaggi, qui staranno le chat e i vari messaggi -->
            <section class="main_chat">
                
              <div v-for="(contattoAttivo, index) in contacts[activeUser].messages" :class="contattoAttivo.status === 'sent' ? 'messaggi_inviati' : 'messaggi_ricevuti'">
                <p>{{contattoAttivo.message}}</p>
              </div>     
            </section>

            <!-- parte inferiore della parte messaggi, qui ci sarà l'input -->
            <section class="footer_chat">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="aggiungiMessage">
                <i class="fa-solid fa-microphone"></i>
            </section>
        </section>
    </div>











    <div class="main"></div>
</div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/whatsapp.js"></script>
</body>
</html>